body{
    background-image: linear-gradient(45deg, rgb(107, 105, 105), rgb(204, 200, 200));
    font-family: Arial, Helvetica, sans-serif;
}

.login-logo{
    width: 10%;
    margin-left: 18px;
    margin-top: 10px;
}

.login-corpo{
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
    margin-bottom: 5%;
}

.login-div{
    background-color: rgb(31, 30, 30);
    padding: 55px;
    color: white;
    border-radius: 12px;
}

.login-titulo{
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}

.login-nome-senha{
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
}

.login-btn{
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 12px;
    background-color: rgb(72, 66, 88);
    border: none;
    width: 100%;
    transition: all 1s;
}

.login-btn:hover{
    background-color: rgb(43, 40, 40);
    cursor: pointer;
}

.login-rodape{
    font-size: 18px;
    color: white;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.login-colaboradores{
    padding: 18px;
}

.img-colaboradores{
    width: 80px;
    border-radius: 200px;
}

.link-colaboradores{
    margin-right: 15px;
}