body{
    background-image: linear-gradient(45deg, gray,black);
    font-family: Arial, Helvetica, sans-serif;
}

.login-div{
    background-color: rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 55px;
    color: white;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-titulo{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.login-nome-senha{
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
}

.login-btn{
    padding: 10px;
    font-size: 20px;
    border-radius: 12px;
    background-color: white;
    border: none;
}

.login-btn:hover{
    background-color: rgb(187, 185, 185);
    cursor: pointer;
}